* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3 {
  background: #fefefe;
  color: #3c4146;
  font-family: -apple-system,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"ÉÅÉCÉäÉI",meiryo,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
}

h1 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}

h2 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}

h3 {
    font-weight: 600;
}

img {
	width: 100%;
}

.container {
    width: 100%;
    padding: 0 20px;
}

header,
.navbar-default,
.navbar-header {
	background: #3c4146;
	border: none;
	border-radius: 0;
	color: #fefefe;
}

.menu {
	font-size: 14px;
	margin-top: 20px;
}

