* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3 {
  background: #fefefe;
  color: #3c4146;
  font-family: -apple-system,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"ƒƒCƒŠƒI",meiryo,sans-serif;
  font-size: 16px;
}

img {
	width: 100%;
}

header,
navbar-default,
navbar-header {
	background: #3c4146;
	border: none;
	border-radius: 0;
	color: #fefefe;
}

