* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
h1,
h2,
h3 {
	background: #ffffff;
	color: #3c4146;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"���C���I",meiryo,sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8;
	word-break: break-all;
}

h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

h2 {
	font-size: 22px;
	margin-bottom: 20px;
}

h3 {
	font-size: 18px;
}

img {
	width: 100%;
}

.container {
	width: 100%;
}

header,
.navbar-default,
.navbar-header {
	background: #3c4146;
	border: none;
	border-radius: 0;
	color: #fff;
}

.navbar-default {
	padding: 10px 0;
}

.menu {
	color: #767676;
	font-size: 14px;
	margin-top: 20px;
}

.list-group-item {
	font-size: 12px;
	padding: 5px 10px;
}

.sublinks a {
	background: #f9f9f9;
	color: #4183c4;
	padding-left: 1em;
}

section {
	font-size: 14px;
	margin: 40px 0;
}

.content {
	margin-bottom: 20px;
}

.content ul,
.content ol {
	padding: 0 2em;
}

pre {
	margin: 1em 0;
}

pre code {
	overflow: auto;
	white-space: inherit;
}

footer {
	padding: 20px 10px;
	text-align: center;
}
/*
 * Source Highlight
 */
.language-bash pre {
	background: #444;
	border: none;
	color: #63E463;
}

.language-bash.cm,
.language-bash.c1 {
	color: #6db33f;
}

/*
 *#######################
 * iPhone
 *########################
 */
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		padding: 0;
	}

}
